.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  margin-left: 3%;
}
.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
}
.cart-container {
  background-color: rgba(253, 161, 41, 0.274);
}
